<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{ artist.imageUrl }}"
        class="img-fluid rounded-start"
        alt="{{ artist.name }}"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title fs-4">{{ artist.name }}</h5>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item" (click)="onOverviewSelect()">
    <a
      class="nav-link"
      routerLink="/{{ componentRouteName }}/{{ artist.name }}"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Overview
    </a>
  </li>
  <li class="nav-item" (click)="onTopTracksSelect()">
    <a
      class="nav-link"
      routerLink="/{{ componentRouteName }}/{{ artist.name }}/{{
        routes.TopTracks
      }}"
      routerLinkActive="active"
      >Top Tracks
    </a>
  </li>
  <li class="nav-item" (click)="onTopAlbumsSelect()">
    <a
      class="nav-link"
      routerLink="/{{ componentRouteName }}/{{ artist.name }}/{{
        routes.TopAlbums
      }}"
      routerLinkActive="active"
      >Top Albums
    </a>
  </li>
  <li class="nav-item" (click)="onSimilarArtistsSelect()">
    <a
      class="nav-link"
      routerLink="/{{ componentRouteName }}/{{ artist.name }}/{{
        routes.SimilarArtists
      }}"
      routerLinkActive="active"
      >Similar Artists
    </a>
  </li>
</ul>

<div [ngSwitch]="supplementType">
  <app-track-list
    *ngSwitchCase="routes.TopTracks"
    [tracks]="supplements.topTracks"
  ></app-track-list>
  <app-albums-container
    *ngSwitchCase="routes.TopAlbums"
    [albums]="supplements.topAlbums"
    [artistName]="artist.name"
    >TopAlbums</app-albums-container
  >
  <app-similar-artists
    *ngSwitchCase="routes.SimilarArtists"
    [artists]="supplements.similarArtists"
    >SimilarArtists</app-similar-artists
  >
  <div *ngSwitchDefault class="card-text">{{ artist.biography }}</div>
</div>
