<div>
  <ul class="pagination">
    <li class="page-item" [class.disabled]="firstPage == currentPage">
      <a
        class="page-link"
        [routerLink]="['/artists', 'page', currentPage - 1, 'pageSize', pageSize]"
        (click)="changeCurrentPage(currentPage - 1)"
      >
        Previous</a
      >
    </li>
    <li
      *ngFor="let page of pages"
      class="page-item"
      [class.active]="page == currentPage"
      (click)="changeCurrentPage(page)"
    >
      <a *ngIf="!pageSize" class="page-link" [routerLink]="['/artists', 'page', page]" routerLinkActive="active"
        >{{ page }}
      </a>
      <a
        *ngIf="pageSize"
        class="page-link"
        [routerLink]="['/artists', 'page', page, 'pageSize', pageSize]"
        routerLinkActive="active"
        >{{ page }}
      </a>
    </li>
    <li class="page-item" [class.disabled]="lastPage == currentPage">
      <a
        class="page-link"
        [routerLink]="['/artists', 'page', currentPage + 1, 'pageSize', pageSize]"
        (click)="changeCurrentPage(currentPage + 1)"
        >Next</a
      >
    </li>
  </ul>
</div>
