@import '~bootstrap/dist/css/bootstrap.css';

.pointer {
  cursor: pointer;
}
a {
  outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
