<div *ngIf="artist$ | async as artist">
  <app-hero [imageName]="artist.name" [imageUrl]="artist.imageUrl" [title]="artist.name">
    <p>{{ artist.biography }}</p>
  </app-hero>

  <app-tab
    [tabs]="[
      { navUrl: ['/artists', 'details', artist.name, supplementRoute.TopTracks], title: 'Top Tracks' },
      { navUrl: ['/artists', 'details', artist.name, supplementRoute.TopAlbums], title: 'Top Albums' },
      {
        navUrl: ['/artists', 'details', artist.name, supplementRoute.SimilarArtists],
        title: 'Similar Artists'
      }
    ]"
  >
  </app-tab>

  <router-outlet></router-outlet>
</div>
