<div *ngIf="album$ | async as album">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ album.imageUrl }}" class="img-fluid rounded-start" alt="{{ album.name }}" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fs-4">{{ album.name }}</h5>
          <p class="text-center">by</p>
          <h5>
            <a class="nav-link" [routerLink]="['/artists', 'details', album.artistName]">{{ album.artistName }} </a>
          </h5>
        </div>
      </div>
    </div>
  </div>

  <app-album-track-list [tracks]="album.tracks"></app-album-track-list>
</div>
